.drawflow-host{width:100%;height:100%;position:relative;overflow:hidden;border:1px solid #e5e7eb;border-radius:0.75rem;}
.drawflow_content_node {
    width: fit-content !important;
    display: block;
    margin-top: 15px;
}