@namespace DrawflowWrapper.Components
@using DrawflowWrapper.Models.NodeV2
@using Microsoft.JSInterop
@inherits DrawflowBase

<div id="@ElementId" class="drawflow-host" style="@(Style ?? "height:500px;")"></div>

@code {
    private DotNetObjectReference<Drawflow>? _dotNetRef;

    [Parameter] public EventCallback<string> OnNodeDoubleClicked { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _ = base.OnAfterRenderAsync(firstRender);

        if (!firstRender) return;

        _dotNetRef = DotNetObjectReference.Create(this);

        await JS.InvokeVoidAsync(
            "window.DrawflowBlazor.setNodeDoubleClickCallback",
            ElementId,
            _dotNetRef
        );
    }

    [JSInvokable]
    public async Task OnNodeDoubleClickFromJs(string nodeId)
    {
        if (OnNodeDoubleClicked.HasDelegate)
        {
            await OnNodeDoubleClicked.InvokeAsync(nodeId);
        }
    }

    public void Dispose()
    {
        _dotNetRef?.Dispose();
    }
}